@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif; /* Definindo a fonte como Nunito */
  background-color: #3db0ff; /* Cor de fundo azul */
  color: white; /* Cor da fonte branca */
}

.Reactable.ReactTable {
  background-color: #3db0ff; /* Cor de fundo azul */
}
